@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JaneLight"; /* Use the same name as in tailwind.config.js */
    src: url('/Landing Page/Assets/Jane Light W00 Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }